button, 
button:active, 
button:focus {
  outline: none;
};

body {
    user-select: none; /* Mencegah pemilihan teks di luar input box */
}

img {
    pointer-events: none;
}

/* Memblokir drag untuk semua elemen */
img, svg {
            -webkit-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
            user-drag: none;
        }

/* Menghapus border dan background default dari tombol */
button {
  border: none;
  background: none;
  padding: 0;
  position: relative; /* agar bisa menempatkan teks secara relatif */
  outline: none;
}

button:active, 
button:focus {
  outline: none;
};

/* Memuat font lokal */
@font-face {
  font-family: "Comfortaa"; /* Nama font */
  src: url("../../assets/font/Comfortaa-Regular.ttf") format("truetype"); /* Lokasi font */
}

/* Memuat font lokal */
@font-face {
  font-family: "Comfortaa-Bold"; /* Nama font */
  src: url("../../assets/font/Comfortaa-Bold.ttf") format("truetype"); /* Lokasi font */
}

[class*=menuic] {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 35%;
}

.button {
  display: inline-flex;
}

.button > .bg {
  width: 14.625vmin;
}

/* Kustomisasi tombol Impor dan Ekspor Karakter */
.imporoc,
.eksporoc {
  color: white; /* ubah warna teks menjadi putih */
  font-family: "Comfortaa", sans-serif; /* ganti font menjadi font lokal */
  transition: all 0.3s;
}

/* Mengatur gaya teks */
.button span {
  font-size: 18px; /* besarkan ukuran font */
  color: white; /* ubah warna teks menjadi putih */
  font-family: "Comfortaa-Bold"; /* ganti font menjadi font lokal */
}

.version-ft {
  margin-left: 0;
  font-size: 18px; /* besarkan ukuran font */
  color: black; /* ubah warna teks menjadi putih */
  font-family: "Comfortaa-Bold"; /* ganti font menjadi font lokal */
  text-shadow:
                -1px -1px 0 #FFFFFF,  
                1px -1px 0 #FFFFFF,
                -1px 1px 0 #FFFFFF,
                1px 1px 0 #FFFFFF;
  position: fixed;
  top: 0%;
  left: 0%;
}

.menu-ft {
  font-size: 18px; /* besarkan ukuran font */
  color: black; /* ubah warna teks menjadi putih */
  font-family: "Comfortaa-Bold"; /* ganti font menjadi font lokal */
  text-shadow:
                -1px -1px 0 #FFFFFF,  
                1px -1px 0 #FFFFFF,
                -1px 1px 0 #FFFFFF,
                1px 1px 0 #FFFFFF;
  }

.container-top,
.container-middle,
.container-bottom {
  padding: 1rem;
  position: absolute;
  left: 0px;
  right: 0px;
}
  
.container-top {
  text-align: right;
  top: 0px;
  z-index: 1;
}

.container-middle {
  transform: translateY(50%);
  bottom: 25%;
}

.container-middle .button {
  margin: 3%;
}


.container-bottom {
  bottom: 0px;
  display: flex;
  justify-content: space-between;
}

.imporoc {
  margin-right: 1rem;
}

.imporoc img,
.eksporoc img {
  width: 23.25vmin;
}

.imporoc span,
.eksporoc span {
  font-size: 3vmin;
  position: absolute; /* agar bisa menempatkan teks secara absolut */
  white-space: nowrap; /* Hindari pemisahan teks menjadi newline */
  bottom: 37%;
}

.eksporoc span {
  left: 9.5%;
}

.imporoc span {
  left: 38%;
}

.imporoc:active {
    transform: scale(0.95);
}

.eksporoc:active {
    transform: scale(0.95);
}

.eksporoc:active img {
    margin-right: 5px;
}

.imporoc:after {
    position: relative;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transition: all 0.3s;
    z-index: -1;
    transform: translate(-50%, -50%) scale(0);
}
.eksporoc:after {
    position: relative;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transition: all 0.3s;
    z-index: -1;
    transform: translate(-50%, -50%) scale(0);
}

.imporoc:hover:after,
.eksporoc:hover:after {
    transform: translate(-50%, -50%) scale(3);
}

.menu {
    position: relative;
}

.button {
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
}

.button:hover {
    transform: scale(1.1);
}

.button:active:after {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transition: all 0.3s;
    z-index: -1;
    transform: translate(-50%, -50%) scale(2);
    content: "";
    position: absolute;
}

.archanaberrydev img {
  position: absolute;
  top: 32%;
  left: -4%;
  transform: rotate(45deg);
  width: 30vmin;
}

.gachadesignstudio {
    position: relative;
    height: 100vh;
}

.gachadesignstudio img {
    width: 80%;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 26.5%;
}

.main-menu-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@media screen and (orientation: landscape) {
  .gachadesignstudio img {
    width: 50%;
  }
}
